<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

<header>
    <nav>
        <div class="logo" aria-label="Logo do consultório da Dra. Heloísa Barreto">Dra. Heloísa Barreto</div>
        <div class="navbar">
            <ul>
                <li><a href="#sobre" title="Saiba mais sobre nosso consultório">Sobre</a></li>
                <li><a href="#servicos" title="Saiba mais sobre nossos serviços">Serviços</a></li>
                <li><a href="#equipe" title="Conheça nossa equipe">Nossa Equipe</a></li>
                <li><a href="#contato" title="Entre em contato conosco">Contato</a></li>
            </ul>
            <a href="#contato" class="CTA-button" title="Agende sua consulta">Agendar Consulta</a>
        </div>
    </nav>
</header>