<header>
    <nav>
        <div class="logo" aria-label="Logo do consultório da Dra. Heloísa Barreto">
            <a href="{{ url_for('landing') }}">HB Odonto</a>
        </div>
        <div class="navbar">
            <ul>
                <button id="openButton" class="menu-toggle close" aria-label="Close menu">✖</button>
                <li><a href="#sobre" title="Saiba mais sobre nosso consultório">Sobre</a></li>
                <li><a href="#servicos" title="Saiba mais sobre nossos serviços">Serviços</a></li>
                <li><a href="#equipe" title="Conheça nossa equipe">Nossa Equipe</a></li>
                <li><a href="#contato" title="Entre em contato conosco">Contato</a></li>
            </ul>
            <a href="#contato" class="cta-button" title="Agende sua consulta">Agendar Consulta</a>
        </div>
        <button id="closeButton" class="menu-toggle open" aria-label="Open menu">
            ☰
        </button>
    </nav>
</header>

<script src="{{ url_for('static', filename='script/components/navbar.js')}}"></script>
