/* Responsividade */
@media (max-width: 768px) {
    
    header nav .navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: var(--cor-primaria-escura);
        padding: 20px 0;
        /* display: none; */
        gap: 20px;

        opacity: 0;
        z-index: -2;
        transform: translateY(-20px);
        transition: all 0.5s ease-out;
    }
    
    header nav .navbar.active {
        display: flex;
        opacity: 1;
        z-index: 99;
        transform: translateY(0);
    }
    header nav .navbar.active::before {
        content: "HB Odonto";
        position: absolute;
        top: 30px;
        left: 6%;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: var(--cor-secundaria-clara);

        animation: logo 0.5s ease-out 1;
    }

    @keyframes logo {
        from {
            transform: translateY(-20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    
    .navbar.active ul {
        width: 100%;
        text-align: center;
    }
    
    
    .menu-toggle.open {
        display: flex;
    }

    header nav .navbar.active + .menu-toggle.open {
        display: none;
    }

    header nav .navbar.active .menu-toggle.close {
        display: block;
    }

    header nav .navbar ul {
        flex-direction: column;
        gap: 15px;
    }

    header .cta-button {
        width: 80%;
        text-align: center;
    }

}


header .logo a {
    /* position: absolute; */
    /* margin-top: -15px; */
    display: block;
    z-index: 9999999;

    transition: all 0.5s ease-in-out;
}
.menu-toggle.close {
    margin-right: 6%;
    color: var(--cor-secundaria-clara);
    justify-self: flex-end;
    align-self: flex-end;
}
