<section id="sobre" class="sobre">
    <div class="sobre-imagem fade-section">
        <img src="{{ url_for('static', filename='media/hbimage.png') }}" alt="">
    </div>
    <div class="sobre-contexto">
        <h2 class="sobre-titulo fade-section">Cuidando do Seu Sorriso com Dedicação e Excelência</h2>
        <p class="sobre-descricao fade-section">
            No consultório da Dra. Heloísa Barreto, priorizamos a saúde bucal e o bem-estar de nossos pacientes. 
            Com mais de 15 anos de experiência, combinamos tecnologia de ponta e atendimento personalizado para 
            criar resultados impecáveis.
        </p>
        <div class="sobre-destaques">
            <ul>
                <li class="fade-section"><span>15+</span> <p>anos de experiência</p></li>
                <li class="fade-section"><span>10.000+</span> <p> sorrisos transformados</p></li>
                <li class="fade-section"><span>Especialista</span> <p> em odontologia estética e funcional</p></li>
            </ul>
        </div>
    </div>
</section>