/* Section Sobre */

.sobre {
    display: flex;
    position: relative;
    
    align-items: center;
    justify-content: space-between;
    padding: 90px 6%;

    background-color: transparent;
    color: var(--cor-primaria-escura);
}

.sobre-imagem {
    background-color: var(--cor-secundaria-media);
    width: 35%;
    height: 70vh;
    margin: 0;
    padding: 0;

    border-radius: 25% 10% 25% 0;
    overflow: hidden;
}
.sobre-imagem img {
    width: 100%;
    margin-top: -10%;
    object-fit: cover;
}

.sobre-contexto {
    width: 60%;
}

.sobre-titulo {
    margin-bottom: 20px;

    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--cor-primaria-escura);
}

.sobre-descricao {
    max-width: 800px;
    margin-bottom: 30px;

    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    color: var(--cor-bege-escuro);
}


.sobre-destaques ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    padding: 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    border-radius: 15px;
}
.sobre-destaques ul li {
    width: 30%;
    height: 20vh;
    margin: 0;
    padding-top: 4vh;

    border-radius: 50px 30px 50px 0;

    text-align: center;
    color: var(--cor-secundaria-clara);
    background-color: var(--cor-primaria-clara);
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}
.sobre-destaques ul li:hover{
    color: var(--cor-secundaria-clara);
    background-color: var(--cor-primaria-media);
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.sobre-destaques ul li span {
    color: var(--cor-dourado-claro);
    font-size: 1.7rem;
}

.sobre-destaques ul li p {
    margin-top: 2vh;
    padding: 0 10px;
    font-size: 1rem;
}


/* Estilo da seção de serviços */
.servicos {
    background-color: var(--cor-neutra-clara);
    padding: 10px 20px 100px;
    text-align: center;
    border-bottom-right-radius: 100px;
}

.servicos h2 {
    font-size: 2.5rem;
    color: var(--cor-titulo-cinza);
    margin-bottom: 20px;
}
.servicos p {
    font-size: 1.1rem;
    line-height: 1.6;
}


.servicos .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.servicos .card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.servicos .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.servicos .card h3 {
    font-size: 1.5rem;
    color: var(--cor-subtitulo-cinza);
    margin-bottom: 10px;
}

.servicos .card p {
    font-size: 1rem;
    color: var(--cor-texto-cinza);
    line-height: 1.5;
}


.cover-primario-escuro {
    height: fit-content;
    background-color: var(--cor-primaria-escura);
}
.cover-normal {
    background-color: var(--cor-neutra-principal);
    height: fit-content;
    border-bottom-right-radius: 100px;
    /* clip-path: ellipse(150% 75% at 50% 25%); */
}
/* Section Equipe */

.equipe {
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-top-left-radius: 100px;
    color: var(--cor-secundaria-clara);
    /* background-color: var(--cor-primaria-escura); */
    background: linear-gradient(320deg, var(--cor-primaria-escura) 70%, rgba(90, 11, 23, 0.2) 100%);
}
.equipe .equipe-header h2, 
.equipe .equipe-header p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.equipe .equipe-header h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}
.equipe .equipe-header p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--cor-neutra-media);
}

.equipe-lista {
    display: flex;
    justify-content: space-between;
    padding: 30px 6%;
}

.equipe-lista article {
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 350px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    color: var(--cor-titulo-cinza);
    background-color: var(--cor-neutra-principal);
    box-shadow: 0 8px 12px rgba(187, 38, 38, 0.3);
}

.equipe-imagem {
    height: 250px;
    border-radius: 20px 20px 0 0;
    background-color: var(--cor-secundaria-media);
    overflow: hidden;
}

.equipe-imagem img {
    object-fit: cover;
    width: 100%;
    margin-top: -20px;
}

.equipe-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
}

.equipe-info-container h3,
.equipe-info-container p{
    margin: 0;
    padding: 0;
}
.equipe-info-container p {
    color: var(--cor-subtitulo-cinza);
}




.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato form {
    display: flex;
    flex-direction: column;
}